bash_shell/9_options.sh.gz
# General
*.DS_Store
*.log
selenium_course/PythonSelFramework/tests/*.png
selenium_course/PythonSelFramework/selenium_env
__pycache__
HTML/imagenes
.idea/
**/*.ini
**/images

# Github_workflows
github_workflows/node_modules
github_workflows/.pytest_cache
github_workflows/package*

# Appium
appium/*.bat

# Selenium
